/* Thiết lập giao diện cho dòng tiêu đề */
.frmtitle {
    background-color: #017a74;
    color: #fff;
    padding: 10px;
    align-items: center;
    text-align: center;
}

/* Thiết lập giao diện cho nội dung form */
.frmcontent {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

/* Thiết lập giao diện cho select box */
select,
input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Thiết lập giao diện cho nút */
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background-color: #017a74;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background-color: #3498db;
}

/* Thiết lập giao diện cho hình ảnh */
img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
    display: block;
}