body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    /* margin-top: 20px; */
}

form {
    max-width: 650px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Thêm để giữ nút trong form */
}

form div {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type="submit"],
input[type="reset"],
a button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
a button:hover {
    background-color: #45a049;
}

input[type="button"] {
    background-color: #f44336;
}

input[type="button"]:hover {
    background-color: #da190b;
}

@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }

    input[type="submit"],
    input[type="reset"],
    a button {
        width: 100%;
        margin-top: 5px;
    }
}

.baiviet {
    background-color: #017a74;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
}