#main {
    padding: 0px;
}

.noidung {
    width: 100%;
    margin-bottom: 20px;
}

.noidung tr {
    display: flex;
    justify-content: space-between;
}

.noidung th img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
}

.noidung th button {
    background-color: rgb(167, 38, 38);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.noidung th button:hover {
    background-color: #017a74;
}

@media screen and (max-width: 768px) {
    .noidung th {
        max-width: calc(50% - 10px);
        /* Hiển thị 2 cột trên mỗi hàng khi màn hình nhỏ hơn */
    }
}

.price,
.buy-button {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 13px;
}


.noidung th img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    /* Đảm bảo hình ảnh không vượt quá kích thước của phần tử cha */
    max-height: 300px;
    /* Giữ nguyên tỷ lệ khung hình */
}

/* Định dạng container chứa các hình ảnh */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Định dạng các hình ảnh */
.noidung th {
    flex: 1;
    max-width: calc(25% - 10px);
    /* Đặt chiều rộng tối đa cho mỗi hình ảnh */
    margin-right: 10px;
    /* Khoảng cách giữa các hình ảnh */
    border: none;
    padding: 10px;
    text-align: center;
    position: relative;
    /* Sử dụng vị trí tương đối để căn chỉnh phần tử con */
}


/* Định dạng tensp */
.tensp {
    text-align: left;
    margin: 7px 13px;
}

/* Định dạng phần tử h2 */
h2 {
    text-align: center;
    margin: 0 auto;
    padding: 5px 550px!important;
}