.xe img{
    padding-left: 30%;
    width: 100%;
}

.xe th{
    text-align: left;
    font-size: 20px;
}

.xe h3{
    color:rgb(161, 0, 0);
}

.xe{
    border-spacing: 50px;
}

.chitiet{
    background-color: rgb(226, 226, 226);
    padding: 25px;
}

.xe a{
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.chitiet hr{
    color:white;
    font-size: 20px;
}

.noidung1, .noidung2, .noidung3{
    padding: 20px;
    background-color: rgb(221, 221, 221);
}