* {
    padding: 0px;
    margin: 0px;
}

.main .container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #00afa6;
}
.main .container {
    padding: 0%;
    margin: 0%;
}
.main .container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.main .container form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.main .container form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.container .txt {
    color: rgb(196, 89, 89);
}
.container .txt:hover {
    color: rgb(82, 157, 219);
}
.header .logo {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
}

.text-help {
    color: red;
}

.main-logo {
    width: 300px;
    align-items: center;
}

.form-container {
    background: white;
    width: 500px;
    text-align: center;
    margin-left: 17%;
}

form {
    padding-left: 100px;
}

.separate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img {
    width: 300px;
    padding-left: 10%;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.facebook-button,
.google-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.facebook-button {
    background-color: #486197;
    /* Facebook blue */
}

.google-button {
    background-color: #57d84b;
    /* Google red */
}

.facebook-button:hover,
.google-button:hover {
    background-color: darken(currentColor, 10%);
}

a {
    text-decoration: none;
}