.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container > div {
    margin-left: 10px;
    text-align: justify;
}
.text-container {
    max-width: 1000px;
    padding: 0 10px;
    flex-basis: 100%;
    margin-bottom: 20px;
}
.container img{
    border-radius: 15px;
    width: 300px;
    height: 200px;
    margin-top: 15px;
}
.container h1 {
    text-align: center;
    padding: 15px;
    color: brown;
}
.container hr {
    margin: 20px;
}
.container a {
    text-decoration: none;
}
.container p {
    color: rgb(65, 63, 63);
}
.container h2 {
    color: rgb(30, 161, 249);
}
.container h2:hover {
    color: rgb(253, 88, 88);
}