* {
    margin: 0;
    padding: 0;
}
.container h1 {
    text-align: center;
    margin: 20px;
}
.container h2 {
    text-align: center;
    padding: 10px;
    background-color: rgb(207, 206, 206);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.product {
    width: 280px;
    margin: 20px 10px;
    text-align: left;
}

.product img {
    width: 280px;
    height: 150px;
    object-fit: cover;
}

button {
    margin-top: 10px;
    padding: 10px 108px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}
button:hover {
    background: #00afa6a8;
}