* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

/*---------LOGO----------*/
.top-content img {
  width: 200px;
  padding: 0%;
  margin: 0%;
}

/*---------Toàn bộ header----------*/
.topnav {
  padding: 0px;
  background: linear-gradient(to top, #c0f6ff, #027872);
  opacity: 0.;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
}

/*---------Toàn bộ menu----------*/
.navbar {
  overflow: hidden;
  float: center;
  display: flex;
  justify-content: center;
  ALIGN-ITEMS: center;
  text-align: center;
}

.navbar a {
  float: center;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial;
  margin: 0;
  font-weight: bold;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
  color: grey;
}


.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(to top, #c0f6ff, #00afa6);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: rgb(87, 85, 85);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
}


.dropdown-content a:hover {
  background-color: rgb(147, 202, 204);
  color: black;
  font-weight: bold;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.top i {
  font-size: 20px;
}


/*---------Biểu tượng Login----------*/
.login a {
  display: flex;
  justify-content: center;
  ALIGN-ITEMS: center;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  margin-top: 40px;
}

/*------------------------------- Hết Header --------------------------------------*/

.banner img {
  width: 100%;
}

.quangcao img {
  width: 100%;
}

.Tieude h2 {
  text-align: center;
  background-color: rgb(232, 226, 226);
  font-size: 40px;
  padding: 10px;
}

.noidung img {
  width: 100%;
  margin-bottom: 0%;
}

.noidung th {
  text-align: justify;
  border: 1px solid black;
}

.noidung {
  border-spacing: 20px;
}

/*------------------------------- Hết NỘI DUNG --------------------------------------*/
footer th {
  text-align: left;
}

.footer {
  border-spacing: 2px;
}

a {
  text-decoration: none;
  /* Tắt gạch chân */
  color: black;
}

.color_lienhe {
  color: #2E709F;
}

.left-column {
  width: 50%;
  height: 350px;
  background: #E9E9E9;
  float: left;
  padding: 2%;
  font-size: 20px;
  padding-left: 10%;
  font-weight: bold;
}

.right-column {
  width: 50%;
  height: 350px;
  background: #E9E9E9;
  float: right;
  padding-top: 3%;
  padding-left: 5%;
}

footer hr {
  border: 2px solid rgb(255, 255, 255);
}

text {
  text-align: center;
  display: flex;
}

.logo_ab {
  display: flex;
  /* Sử dụng flexbox */
  align-items: center;
  /* Căn các phần tử theo chiều dọc */
}

.ab_logo {
  display: flex;
  /* Sử dụng flexbox */
  align-items: center;
  /* Căn các phần tử con theo chiều dọc */
}

.img_logo {
  width: 70px;
  /* Điều chỉnh kích thước hình ảnh theo nhu cầu */
}

h5 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #666; /* Màu chữ tuỳ chỉnh */
  background-color: #E9E9E9; /* Màu nền tuỳ chỉnh */
  width: 100%;
}

/*------------------------------- Hết FOOTER --------------------------------------*/

/* PAGE GIỚI THIỆU */
h1 {
  text-align: center;
  text-shadow: 2px 2px 2px rgb(174, 174, 174);
  font-size: 40px;
  color: rgb(74, 74, 74);
}

.trai {
  width: 60%;
  height: 400px;
  float: left;
  padding: 2%;
  font-size: 20px;
  padding-left: 10%;
  text-align: justify;
}

.phai {
  width: 40%;
  height: 400px;
  float: right;
  padding: 2%;
}

.Tieude h2 {
  text-align: center;
  text-shadow: 2px 2px 2px rgb(174, 174, 174);
  font-size: 40px;
  color: rgb(74, 74, 74);
}

.logo img {
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
  margin-left: 15px;
}

.logo {
  border-spacing: 100px;
  margin-left: 20px;
}

/*----------------------- lien hệ----------------------------*/

.hoidap .row {
  align-items: center;
}

.hoidap .row form {

  padding: 10px 45px;
  box-shadow: 3px 4px rgba(0, 0, 0, .1);
  border: 3px solid rgba(0, 0, 0, .1);
  background: none;
  border-radius: 30px;
}

#img {
  width: 75%;
  margin-left: 100px;
  height: auto;
}

.hoidap .row form .box {
  padding: 10px;
  font-size: 17px;
  color: #333;
  text-transform: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  margin: 7px 0;
  width: 100%;
}

button {
  border: none;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  padding: 12px 48px;
  border-radius: 50px;
  background-color: #017a74;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #00d6cb;
}

.hoidap .row form textarea {
  height: 150px;
  resize: none;
}

.hoidap {
  padding-left: 70px;
}

/*KHIẾU NẠI */
#display_image {
  width: 700px;
  height: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.khieunai .row {
  align-items: center;
}

.khieunai .row form {

  padding: 10px 45px;
  box-shadow: 3px 4px rgba(0, 0, 0, .1);
  border: 3px solid rgba(0, 0, 0, .1);
  background: none;
  border-radius: 30px;
}

#img {
  width: 75%;
  margin-left: 100px;
  height: auto;
}

.khieunai .row form .box {
  padding: 10px;
  font-size: 17px;
  color: #333;
  text-transform: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  margin: 7px 0;
  width: 100%;
}

button {
  border: none;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  padding: 12px 48px;
  border-radius: 50px;
  background-color: #017a74;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #00d6cb;
}

.khieunai .row form textarea {
  height: 150px;
  resize: none;
}

.khieunai {
  padding-left: 70px;
  margin-bottom: 15px;
}
.container h2 {
  text-align: center;
  padding: 10px;
  background-color: rgb(207, 206, 206);
}